<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
td {
	font-size: 9pt;	color: #000000;
}
a:hover {
	font-size: 9pt;	color: #FFC000;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #0000FF;
}
.white {
	font-size: 9pt;	color: #FFFFFF;
}
.top{font-size:20pt; color:#0000CC; font-family:"黑体";}
.head {
	font-size:9pt;color:#0000CC;font:;
}
.he{font-size:18pt; color:#ffffff; font:"黑体";}
.bgcolor {
	font-size: 9pt;	color: #1980DB;
}
.btn_grey {
	font-family: "宋体";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.txt_grey {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
body {
	margin-left: 0px;
	margin-top: 0px;
}
.wenbenkuang {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
.shadow{
font-size=9pt;
filter:DropShadow(Color=#777777,offX=1,offY=1,positive=1);
height:15;
color:#FFFFFF;
}
.tableBorder {
	background-color:#ffffff; border:#D1E2D6 1px solid; 
}
-->