<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
td {
	font-size: 9pt;	color: #000000;
}
a:hover {
	font-size: 9pt;	color: #FF0000;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #FFC000;
}
.white {
	font-size: 9pt;	color: #FFFFFF;
}
.lt {
	font-size: 9pt;	color: #EEFFEE;
}
.bgcolor {
	font-size: 9pt;	color: #1980DB;
}
.btn_grey {
	font-family: "宋体";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.txt_grey {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
input {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
body {
	margin:0px;
	/*background-image:url(images/background.gif);*/
}
.wenbenkuang {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
.search  { font-family: 宋体; font-size: 9pt; color: #000000; background-color: #EEEEEE; 
               border: 1px Hidden #000000; }
.grey{
font-size=9pt;
color:#998888;
}
.orange{
	font-size: 9pt;	color: #FFC000;
}
.tab_T{
border-top-width:1px;

border-top-style:groove;
border-bottom-style:none;
border-left-style:none;
border-right-style:none;
}
.cell-xia {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
image{
border:0px;
}
.tab_border{
border-width:1px;
border-color:#666666;
border-style:inherit;
}
-->