<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<!-- 数据库方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 数据库驱动 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- 数据库连接信息 -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_database24</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">111</property>
		<!-- 打印SQL语句 -->
		<property name="hibernate.show_sql">true</property>
		<!-- 不格式化SQL语句 -->
		<property name="hibernate.format_sql">false</property>
		<!-- 为Session指定一个自定义策略 -->
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- C3P0 JDBC连接池 -->
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">120</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.idle_test_period">120</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.validate">true</property>		
		<!-- 映射文件 -->
		<mapping resource="com/lyq/model/user/User.hbm.xml"/>
		<mapping resource="com/lyq/model/user/Customer.hbm.xml"/>
		
		<mapping resource="com/lyq/model/product/ProductInfo.hbm.xml"/>
		<mapping resource="com/lyq/model/product/ProductCategory.hbm.xml"/>
		<mapping resource="com/lyq/model/product/UploadFile.hbm.xml"/>
		
		<mapping resource="com/lyq/model/order/Order.hbm.xml"/>
		<mapping resource="com/lyq/model/order/OrderItem.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
