<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<!-- 配置session的有效活动时间（单位：分钟） -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- 配置前台请求处理结束后返回的页面 -->
	<context-param>
		<param-name>indexTemp</param-name>
		<param-value>/view/IndexTemp.jsp</param-value>
	</context-param>
	<!-- 配置请求后台操作返回的页面 -->
	<context-param>
		<param-name>adminTemp</param-name>
		<param-value>/pages/admin/AdminTemp.jsp</param-value>
	</context-param>
	<!-- 配置前台操作失败后返回的提示页面 -->
	<context-param>
		<param-name>messagePage</param-name>
		<param-value>/pages/messages.jsp</param-value>
	</context-param>
		
	<!-- ★　Servlet配置　★ -->
	<!-- 访问者登录的配置 -->
	<servlet>
		<servlet-name>visitorLogon</servlet-name>
		<servlet-class>com.servlet.UserLogon</servlet-class>
		<init-param>
			<param-name>visitorLogonPage</param-name>
			<param-value>/pages/userLogon.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>visitorLogon</servlet-name>
		<url-pattern>/visitor/logon</url-pattern>
	</servlet-mapping>
	<!-- 博主登录的配置 -->
	<servlet>
		<servlet-name>myLogon</servlet-name>
		<servlet-class>com.servlet.MyLogon</servlet-class>
		<init-param>
			<param-name>myLogonPage</param-name>
			<param-value>/pages/myLogon.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myLogon</servlet-name>
		<url-pattern>/my/logon</url-pattern>
	</servlet-mapping>
	<!-- 退出登录的配置 -->
	<servlet>
		<servlet-name>logoff</servlet-name>
		<servlet-class>com.servlet.LogOff</servlet-class>
		<init-param>
			<param-name>logoffPage</param-name>
			<param-value>/goIndex</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoff</servlet-name>
		<url-pattern>/logoff</url-pattern>
	</servlet-mapping>
	<!-- 注册博客的配置 -->
	<servlet>
		<servlet-name>userReg</servlet-name>
		<servlet-class>com.servlet.UserServlet</servlet-class>
		<init-param>
			<param-name>input</param-name>
			<param-value>/pages/regBlog.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>userReg</servlet-name>
		<url-pattern>/userReg</url-pattern>
	</servlet-mapping>
	<!-- 访问index页的配置 -->
	<servlet>
		<servlet-name>goIndex</servlet-name>
		<servlet-class>com.servlet.IndexServlet</servlet-class>
		<init-param>
			<param-name>showWelcome</param-name>
			<param-value>/welcome.jsp</param-value>
		</init-param>
	</servlet> 
	<servlet-mapping>
		<servlet-name>goIndex</servlet-name>
		<url-pattern>/goIndex</url-pattern>
	</servlet-mapping>
	<!-- 进入"我的博客"请求的配置 -->
	<servlet>
		<servlet-name>myBlog</servlet-name>
		<servlet-class>com.servlet.BlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myBlog</servlet-name>
		<url-pattern>/my/admin/goMyBlog</url-pattern>
	</servlet-mapping>
	<!-- 进入某个博客请求的配置 -->
	<servlet>
		<servlet-name>goBlog</servlet-name>
		<servlet-class>com.servlet.BlogServlet</servlet-class>
		<init-param>
			<param-name>defaultPage</param-name>
			<param-value>/view/default.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>goBlog</servlet-name>
		<url-pattern>/my/goBlog</url-pattern>
	</servlet-mapping>
	<!-- 对“我的文章”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myArticle</servlet-name>
		<servlet-class>com.servlet.ArticleServlet</servlet-class>
		<init-param>
			<param-name>listShowPage</param-name>
			<param-value>/pages/article/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>singleShowPage</param-name>
			<param-value>/pages/article/singleShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminListPage</param-name>
			<param-value>/pages/admin/article/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminSinglePage</param-name>
			<param-value>/pages/admin/article/singleShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>modifyShowPage</param-name>
			<param-value>/pages/admin/article/modifyShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>insertShowPage</param-name>
			<param-value>/pages/admin/article/insertShow.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myArticle</servlet-name>
		<url-pattern>/my/guest/article</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myArticle</servlet-name>
		<url-pattern>/my/admin/article</url-pattern>
	</servlet-mapping>
	<!-- 对“文章评论”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myArtReview</servlet-name>
		<servlet-class>com.servlet.ArtReviewServlet</servlet-class>
		<init-param>
			<param-name>artrListPage</param-name>
			<param-value>/pages/article/artReview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminArtrListPage</param-name>
			<param-value>/pages/admin/article/artReview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myArtReview</servlet-name>
		<url-pattern>/my/guest/artReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myArtReview</servlet-name>
		<url-pattern>/my/admin/artReview</url-pattern>
	</servlet-mapping>
	<!-- 对“我的相册”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myPhoto</servlet-name>
		<servlet-class>com.servlet.PhotoServlet</servlet-class>
		<init-param>
			<param-name>listShowPage</param-name>
			<param-value>/pages/photo/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>singleShowPage</param-name>
			<param-value>/pages/photo/singleShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminListPage</param-name>
			<param-value>/pages/admin/photo/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminSinglePage</param-name>
			<param-value>/pages/admin/photo/singleShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>upLoadPage</param-name>
			<param-value>/pages/admin/photo/upLoad.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myPhoto</servlet-name>
		<url-pattern>/my/guest/photo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myPhoto</servlet-name>
		<url-pattern>/my/admin/photo</url-pattern>
	</servlet-mapping>
	<!-- 对“我的影音”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myMedia</servlet-name>
		<servlet-class>com.servlet.MediaServlet</servlet-class>
		<init-param>
			<param-name>ffmpegPath</param-name>
			<param-value>c:\\ffmpeg.exe</param-value>
		</init-param>
		<init-param>
			<param-name>listShowPage</param-name>
			<param-value>/pages/media/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>playPage</param-name>
			<param-value>/pages/media/mediaPlay.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminListPage</param-name>
			<param-value>/pages/admin/media/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminPlayPage</param-name>
			<param-value>/pages/admin/media/mediaPlay.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>upLoadPage</param-name>
			<param-value>/pages/admin/media/upLoad.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myMedia</servlet-name>
		<url-pattern>/my/guest/media</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myMedia</servlet-name>
		<url-pattern>/my/admin/media</url-pattern>
	</servlet-mapping>
	<!-- 对“影音评论”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myMediaRev</servlet-name>
		<servlet-class>com.servlet.MediaRevServlet</servlet-class>
		<init-param>
			<param-name>mediaRlistPage</param-name>
			<param-value>/pages/media/mediaRev.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminMediaRListPage</param-name>
			<param-value>/pages/admin/media/mediaRev.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myMediaRev</servlet-name>
		<url-pattern>/my/guest/mediaRev</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myMediaRev</servlet-name>
		<url-pattern>/my/admin/mediaRev</url-pattern>
	</servlet-mapping>
	<!-- 对“我的好友”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myFriend</servlet-name>
		<servlet-class>com.servlet.FriendServlet</servlet-class>
		<init-param>
			<param-name>listShowPage</param-name>
			<param-value>/pages/friend/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminListPage</param-name>
			<param-value>/pages/admin/friend/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminSinglePage</param-name>
			<param-value>/pages/admin/friend/singleShow.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myFriend</servlet-name>
		<url-pattern>/my/guest/friend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myFriend</servlet-name>
		<url-pattern>/my/admin/friend</url-pattern>
	</servlet-mapping>
	<!-- 对“给我留言”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myWord</servlet-name>
		<servlet-class>com.servlet.WordServlet</servlet-class>
		<init-param>
			<param-name>leaveWordPage</param-name>
			<param-value>/pages/word/leaveWord.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listShowPage</param-name>
			<param-value>/pages/word/listShow.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myWord</servlet-name>
		<url-pattern>/my/guest/word</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myWord</servlet-name>
		<url-pattern>/my/admin/word</url-pattern>
	</servlet-mapping>
	<!-- 对“推荐文章”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myElect</servlet-name>
		<servlet-class>com.servlet.ElectServlet</servlet-class>
		<init-param>
			<param-name>adminListPage</param-name>
			<param-value>/pages/admin/elect/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>insertPage</param-name>
			<param-value>/pages/admin/elect/insertShow.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myElect</servlet-name>
		<url-pattern>/my/admin/elect</url-pattern>
	</servlet-mapping>
		<!-- 对“友情链接”模块中各请求的配置 -->
	<servlet>
		<servlet-name>myLink</servlet-name>
		<servlet-class>com.servlet.LinkServlet</servlet-class>
		<init-param>
			<param-name>adminListPage</param-name>
			<param-value>/pages/admin/link/listShow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>insertPage</param-name>
			<param-value>/pages/admin/link/insertShow.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myLink</servlet-name>
		<url-pattern>/my/admin/link</url-pattern>
	</servlet-mapping>
	
	<!--★ 对过滤器的配置 ★-->
	<!-- 对进入博客后触发的所有请求进行过滤（主要是判断当前session是否过期） -->
	<filter>
		<filter-name>all</filter-name>
		<filter-class>com.filter.AllFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>all</filter-name>
		<url-pattern>/my/*</url-pattern>
	</filter-mapping>
	<!-- 对需要登录后，才能进行的请求（管理员请求）进行过滤的配置 -->
	<filter>
		<filter-name>needLogon</filter-name>
		<filter-class>com.filter.NeedLogonFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>needLogon</filter-name>
		<url-pattern>/my/admin/*</url-pattern>
	</filter-mapping>
</web-app>
