body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}

.shenhong :link {
	font-size: 12px;
	color: #2AAB44;
	text-decoration: none;
	font-family: "宋体";
	line-height: 23px;
}

.shenhong :visited {
	font-size: 12px;
	color: #2AAB44;
	text-decoration: none;
	font-family: "宋体";
	line-height: 23px;
}

.shenhong :hover {
	font-size: 12px;
	color: #2AAB44;
	text-decoration: none;
	font-family: "宋体";
	line-height: 23px;
}

.shenhong :active {
	font-size: 12px;
	color: #2AAB44;
	text-decoration: none;
	font-family: "宋体";
	line-height: 23px;
}

.daohangh:link {
	font-size: 14px;
	color: #006699;
	text-decoration: underline;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

.daohangh:visited {
	font-size: 14px;
	color: #006699;
	text-decoration: underline;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

.daohangh:hover {
	font-size: 14px;
	color: #006699;
	text-decoration: underline;
	font-family: "宋体";
	line-height: 18px;
}

.daohangh  :active {
	font-size: 14px;
	color: #006699;
	text-decoration: underline;
	font-family: "宋体";
	line-height: 18px;
}

.cubai  :link {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 24px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.cubai  :visited {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.cubai  :hover {
	font-size: 12px;
	color: #FFFF00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	font-weight: bold;
}

.cubai  :active {
	font-size: 12px;
	color: #FFFF00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	font-weight: normal;
}

.hongcu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	color: #000000;
}

.danhuang {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #FFFFFF;
	font-weight: bold;
}

.shenlan {
	font-family: "宋体";
	font-size: 12px;
	line-height: 22px;
	color: #1C5785;
	border: 1px solid #999999;
}

.chengse {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #FF6600;
}

.shenlvcu {
	font-family: "宋体";
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	color: #006600;
	text-decoration: underline;
}

.huise:link {
	font-size: 12px;
	color: #383C2B;
	text-decoration: underline;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.huise:visited {
	font-size: 12px;
	color: #383C2B;
	text-decoration: none;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.huise:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
}

.huise:active {
	font-size: 12px;
	color: #383C2B;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
}

.blacklin:link {
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
	font-family: "宋体";
}

.blacklin:visited {
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	line-height: 20px;
}

.blacklin:hover {
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
	font-family: "宋体";
	line-height: 20px;
}

.blacklin:active {
	font-size: 14px;
	color: #383C2B;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
}

.hong:link {
	font-size: 14px;
	color: #527800;
	text-decoration: underline;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.hong:visited {
	font-size: 14px;
	color: #527800;
	text-decoration: underline;
	line-height: 24px;
}

.hong:hover {
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
}

.hong:active {
	font-size: 14px;
	color: #FF0000;
	text-decoration: none;
	font-family: "宋体";
	line-height: 24px;
}

.black14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}

.banhui {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #0066CC;
}

.henhong {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #527800;
}

.huise1 {
	font-size: 12px;
	color: #383C2B;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	.
	biaod
	{
}

.danhuang02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	color: #FFFF00;
}

.baisebiaodan {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #FF9900;
}

.danhuang7 {
	font-size: 12px;
	color: #D7FA8D;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
	font-weight: normal;
}

.xiaohei {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #999999;
}

.lvcu:link {
	font-size: 14px;
	color: #006600;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
}

.lvcu:visited {
	font-size: 14px;
	color: #006600;
	line-height: 24px;
}

.lvcu:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 24px;
}

.lvcu:active {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-family: "宋体";
	line-height: 24px;
}