<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">111</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_database23</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping resource="com/hrl/model/User.hbm.xml" />
		<mapping resource="com/hrl/model/Article.hbm.xml" />
		<mapping resource="com/hrl/model/Reply.hbm.xml" />
		<mapping resource="com/hrl/model/Scan.hbm.xml" />
		<mapping resource="com/hrl/model/ArticleType.hbm.xml" />
	</session-factory>
</hibernate-configuration>
