<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<bean id="homeAction" class="com.hrl.action.HomeAction"
		scope="prototype">
	</bean>
	<bean id="userAction" class="com.hrl.action.UserAction"
		scope="prototype">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="articleAction" class="com.hrl.action.ActicleAction"
		scope="prototype">
		<property name="articleDao" ref="articleDao"></property>
	</bean>
	<bean id="replyAction" class="com.hrl.action.ReplyAction"
		scope="prototype">
		<property name="replyDao" ref="replyDao"></property>
	</bean>

</beans>
