<STYLE type="text/css">
<!--
a:hover {
	font-size: 9pt;	color: #FF6600;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #4A4A4A;
	noline:expression(this.onfocus=this.blur);
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Tahoma; TEXT-ALIGN: center;
	margin: 0px;
}
FONT {
	LINE-HEIGHT: normal
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-FAMILY: Tahoma
}
.Redfont {
	COLOR: red
}
.tableNew{
background-color:#969696;
padding-left:5px;
}
TD.TableTitle1 {
	 BACKGROUND-COLOR:#E9F2F6;
	FONT-SIZE:14px;
	font-weight: bold;
	LINE-HEIGHT: 30px; 
}
.textarea {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
input{
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;

}
.noborder{
border:none;
}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
-->
</STYLE>
